<a href="https://colab.research.google.com/github/arwa-mili/Coolab/blob/main/air_quality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!wget /content/wordpress-5.8.1.zip

/content/wordpress-5.8.1.zip: Scheme missing.

In [ ]:
!unzip /content/wordpress-5.8.1.zip

Archive:  /content/wordpress-5.8.1.zip
warning [/content/wordpress-5.8.1.zip]:  1048576 extra bytes at beginning or within zipfile
  (attempting to process anyway)
file #1:  bad zipfile offset (local header sig):  1048576
  (attempting to re-compensate)
   creating: wordpress/
error: invalid zip file with overlapped components (possible zip bomb)

In [ ]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip
!unzip AirQualityUCI.zip

--2021-11-07 14:39:11--  https://archive.ics.uci.edu/ml/machine-learning-databases/00360/AirQualityUCI.zip
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1543989 (1.5M) [application/x-httpd-php]
Saving to: ‘AirQualityUCI.zip.1’

AirQualityUCI.zip.1 100%[===================>]   1.47M  1.42MB/s    in 1.0s

2021-11-07 14:39:12 (1.42 MB/s) - ‘AirQualityUCI.zip.1’ saved [1543989/1543989]

Archive:  AirQualityUCI.zip
replace AirQualityUCI.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [ ]:
pd.read_csv('AirQualityUCI.csv',sep=';')

            Date      Time CO(GT)  ...      AH  Unnamed: 15 Unnamed: 16
0     10/03/2004  18.00.00    2,6  ...  0,7578          NaN         NaN
1     10/03/2004  19.00.00      2  ...  0,7255          NaN         NaN
2     10/03/2004  20.00.00    2,2  ...  0,7502          NaN         NaN
3     10/03/2004  21.00.00    2,2  ...  0,7867          NaN         NaN
4     10/03/2004  22.00.00    1,6  ...  0,7888          NaN         NaN
...          ...       ...    ...  ...     ...          ...         ...
9466         NaN       NaN    NaN  ...     NaN          NaN         NaN
9467         NaN       NaN    NaN  ...     NaN          NaN         NaN
9468         NaN       NaN    NaN  ...     NaN          NaN         NaN
9469         NaN       NaN    NaN  ...     NaN          NaN         NaN
9470         NaN       NaN    NaN  ...     NaN          NaN         NaN

[9471 rows x 17 columns]